{% extends 'base.html.twig' %}

{% block title %}Hello ConferenceController!{% endblock %}

{% block stylesheets %} {{ parent() }} {% endblock %}

{% block body %}


<div class="main-wrapper">
  <h1>Train. Learn. Get a Symfony certification.</h1>

  <h3>Get ready for the certification in no time:</h3>

  <div class="home-buttons">
    <button class="home-button">
    <span class="circle" aria-hidden="true">
      <span class="icon arrow"></span>
    </span>
      <a class="button-text" href="{{ path('categories') }}">Choose a category</a>
    </button>
  </div>

  <div class="home-buttons">
    <button class="home-button">
    <span class="circle" aria-hidden="true">
      <span class="icon arrow"></span>
    </span>
      <a class="button-text" href="{{ path('categories') }}">Pass the whole test</a>
    </button>
  </div>
</div>
{% endblock %}
